
@{
    ViewData["Title"] = "Show";

    var name = ViewBag.Name == null ? "yok" : (string)ViewBag.Name;
    var surname = ViewBag.Surname == null ? "yok" : (string)ViewBag.Surname;

}

<h1>Show</h1>
<h2>@name</h2>
<h2>@surname</h2>

