
@{
    ViewData["Title"] = "Show";

    var name = ViewBag.Name == null ? "" : (string)ViewBag.Name;
    var ziyaretci = ViewBag.ziyaretci == null ? "" : (string)ViewBag.ziyaretci;

}

<h1>Show</h1>
<p>@name</p>
<p>@ziyaretci</p>

